.outerlink-wrapper {
  border: 1px solid #e5e5e5;
  margin: 10px 0;
  background-color: #f0f0f0;
  overflow: hidden;
}

.outerlink-image .og-long-image {
  width: 100%;
  max-height: 350px;
  overflow: hidden;
}

.outerlink-wrapper .outerlink-title {
  margin: 5px;
}

.outerlink-wrapper .outerlink-description {
  margin: 5px;
}

.outerlink-image .og-short-image {
  margin-right: 7px;
  width: 160px;
  height: auto;
  float: left;
}
